
<script>
    var tt_cancel_destination = "/logout"
    //barcodeFocusOnce = true;
    //barcodeScanAction = gotoNextPage;

    function inform() {

    }
</script>
<% include header.html %>
<body id="mateme">
    <div id="container">
        <div id="content">
            <form id='sessions' action="/users/process_authentication" method='post'>
                <input type='text' helptext='Username' field_type='password' name='username'/>
                <input type='password' helptext='Password' field_type='password' name='password' textCase = 'lower'/>
            </form>
            <!--<div id="footer">
            </div>-->
        </div>
    </div>
</body>

