
<script>
    var tt_cancel_destination = "/logout"
    //barcodeFocusOnce = true;
            //barcodeScanAction = gotoNextPage;

        function inform() {

        }
        
        function informUser(){
            <% if (authenticated == false) { %>
                    showMessage("Wrong secret code");         
            <% } %>
        
            <% if (bart_error == 'true') { %>
                    showMessage("Unable to connect to BART2. Configure BART2 to run first");         
            <% } %>
        
            <% if (logged_out == 'true') { %>
                    showMessage("You have been logged out")         
            <% } %>
        }

window.setTimeout("informUser();", 350);
</script>
<style>
    #cancelButton{
        display: none;
    }
</style>
<% include header.html %>
<body id="mateme">
    <div id="container">
        <div id="content">
            <form id='sessions' action="/users/process_authentication" method='post'>
                <input type='password' helptext='Enter your secret code' field_type='number' name='password' 
                       tt_pageStyleClass = 'Numeric NumbersOnly'/>
            </form>
            <!--<div id="footer">
            </div>-->
        </div>
    </div>
</body>

