<html>
    <head>
        <title></title>
        <script src="/javascripts/jquery-1.9.1.js" type="text/javascript"></script>
        <style type='text/css'>
            body{
                font-family: "Nimbus Sans L", "Arial Narrow", sans-serif;
            }

        </style>

        <script>

            function redirectMe() {
                jQuery('#printIframe').load(function () {
                    document.location = '';
                });
            }

        </script>
    </head>
    
    <% include header.html %>
    
    <body>
        <br/><br/><br/>
        <center> <h1 id="printMessage">Printing please wait.....</h1></center>

        <iframe id="printIframe" src="" style='display:none'></iframe>

        <script type='text/javascript'>
            setTimeout(redirectMe(), 350);
        </script>
    </body>
</html>