dbConfig = {
  client: 'mysql',
  connection: {
    host     : 'localhost',
    user     : 'root',
    password : 'root',
    database : 'healthdata',
    charset  : 'utf8',
    insecureAuth: true
  }
}

var knex = require('knex')(dbConfig);
bookshelf = require('bookshelf')(knex);
tools = {knex : knex, bookshelf: bookshelf}

module.exports = tools;

